.logo {
    width: 60px;
    height: 60px;
    border-radius: 30px;
}

.footer-logo {
    width: 50px;
}

.heading {
    padding-top: 20px;
    color: rgb(16, 99, 40);
    margin-bottom: 60px;
}

.row-featurette {
    margin-top: 60px;
    margin-left: 160px;
    margin-right: 160px;
    display: flex;
}

.mindmap {
    width: 500px;
    height: 300px;
}